 
html,body {
    margin: 0px;
    padding: 0px;
    --Off-White: #FAF7E5;
    --Dark-blue: #160937;
    --Light-blue: #8DAAD6;
    --Black: #111;
    --Grey: #9e989d;
    --Dimmed-White: #F8F2E4;
    --Royal-Blue: #0d2082;
    --Dark-Grey: #171717;
    --Darkish-Grey: #76756e;
    --Lighter-Grey: #bbb;
    --Menu-blue: #1B2B79;
    scroll-padding-top: 150px
}

html h1,html h2,html h3,html h4,html p,html b,html i,html span,html button,html input,body h1,body h2,body h3,body h4,body p,body b,body i,body span,body button,body input {
    margin: 0px;
    padding: 0px
}

html a,body a {
    color: var(--Off-white);
    text-decoration: none
}

html a.button,body a.button {
    height: 24px
}

html a.button.big,body a.button.big {
    height: 30px
}

html button,body button {
    display: flex;
    width: auto;
    height: 24px;
    align-items: center;
    background: none;
    border: 0px;
    position: relative;
    --mask: linear-gradient( 45deg,#0000 2.83px, #000 0 calc(2.83px + 1px), #0000 0 calc(100% - 2.83px - 1px), #000 0 calc(100% - 2.83px), #0000 0), linear-gradient(-45deg,#0000 2.83px, #000 0 calc(2.83px + 1px), #0000 0 calc(100% - 2.83px - 1px), #000 0 calc(100% - 2.83px), #0000 0), linear-gradient(90deg,#000 2px,#0000 0) -1px 50%/100% calc(100% - 8px) repeat-x, linear-gradient( #000 2px,#0000 0) 50% -1px/calc(100% - 8px) 100% repeat-y;
    cursor: pointer
}

html button span,body button span {
    color: var(--Off-White, #FAF7E5);
    text-align: center;
    font-family: "Bradley Wayside Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    transition: opacity .35s ease-out,color .35s ease-out;
    z-index: 2
}

html button.big,body button.big {
    height: 30px
}

html button.big span,body button.big span {
    font-size: 18px;
    top: 2px
}

html button::before,body button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--Off-White);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    transition: background .35s ease-out
}

html button::after,body button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--Off-White);
    --mask: conic-gradient(from 45deg at 4px 4px,#000 75%,#0000 0) -4px 0/100% 51% repeat-x, conic-gradient(from 135deg at 4px calc(100% - 4px),#0000 25%,#000 0) -4px 100%/100% 51% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    opacity: 0;
    z-index: 0;
    transition: opacity .35s ease-out
}

html button.book-now span,body button.book-now span {
    letter-spacing: .7px
}

html button.dark-blue::before,body button.dark-blue::before {
    background: var(--Dark-blue)
}

html button.dark-blue::after,body button.dark-blue::after {
    background: var(--Dark-blue)
}

html button.dark-blue span,body button.dark-blue span {
    color: var(--Dark-blue)
}

html button.dark-blue-white-hover::before,body button.dark-blue-white-hover::before {
    background: var(--Dark-blue)
}

html button.dark-blue-white-hover::after,body button.dark-blue-white-hover::after {
    background: var(--Dark-blue)
}

html button.dark-blue-white-hover span,body button.dark-blue-white-hover span {
    color: var(--Dark-blue)
}

html button.light-blue::before,body button.light-blue::before {
    background: var(--Light-blue)
}

html button.light-blue::after,body button.light-blue::after {
    background: var(--Light-blue)
}

html button.light-blue span,body button.light-blue span {
    color: var(--Light-blue)
}

html button.black::before,body button.black::before {
    background: var(--Black)
}

html button.black::after,body button.black::after {
    background: var(--Black)
}

html button.black span,body button.black span {
    color: var(--Black)
}

html button.dimmed-white::before,body button.dimmed-white::before {
    background: var(--Dimmed-White)
}

html button.dimmed-white::after,body button.dimmed-white::after {
    background: var(--Dimmed-White)
}

html button.dimmed-white span,body button.dimmed-white span {
    color: var(--Dimmed-White)
}
 
html a.custom-button,body a.custom-button {
    display: flex;
    width: auto;
    height: 24px;
    align-items: center;
    background: none;
    border: 0px;
    position: relative;
    --mask: linear-gradient( 45deg,#0000 2.83px, #000 0 calc(2.83px + 1px), #0000 0 calc(100% - 2.83px - 1px), #000 0 calc(100% - 2.83px), #0000 0), linear-gradient(-45deg,#0000 2.83px, #000 0 calc(2.83px + 1px), #0000 0 calc(100% - 2.83px - 1px), #000 0 calc(100% - 2.83px), #0000 0), linear-gradient(90deg,#000 2px,#0000 0) -1px 50%/100% calc(100% - 8px) repeat-x, linear-gradient( #000 2px,#0000 0) 50% -1px/calc(100% - 8px) 100% repeat-y;
    cursor: pointer
}

html a.custom-button span,body a.custom-button span {
    color: var(--Off-White, #FAF7E5);
    text-align: center;
    font-family: "Bradley Wayside Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    transition: opacity .35s ease-out,color .35s ease-out;
    z-index: 2
}

html a.custom-button.big,body a.custom-button.big {
    height: 30px
}

html a.custom-button.big span,body a.custom-button.big span {
    font-size: 18px;
    top: 2px
}

html a.custom-button::before,body a.custom-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--Off-White);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    transition: background .35s ease-out
}

html a.custom-button::after,body a.custom-button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--Off-White);
    --mask: conic-gradient(from 45deg at 4px 4px,#000 75%,#0000 0) -4px 0/100% 51% repeat-x, conic-gradient(from 135deg at 4px calc(100% - 4px),#0000 25%,#000 0) -4px 100%/100% 51% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    opacity: 0;
    z-index: 0;
    transition: opacity .35s ease-out
}

html a.custom-button.book-now span,body a.custom-button.book-now span {
    letter-spacing: .7px
}

html a.custom-button.dark-blue::before,body a.custom-button.dark-blue::before {
    background: var(--Dark-blue)
}

html a.custom-button.dark-blue::after,body a.custom-button.dark-blue::after {
    background: var(--Dark-blue)
}

html a.custom-button.dark-blue span,body a.custom-button.dark-blue span {
    color: var(--Dark-blue)
}

html a.custom-button.dark-blue-white-hover::before,body a.custom-button.dark-blue-white-hover::before {
    background: var(--Dark-blue)
}

html a.custom-button.dark-blue-white-hover::after,body a.custom-button.dark-blue-white-hover::after {
    background: var(--Dark-blue)
}

html a.custom-button.dark-blue-white-hover span,body a.custom-button.dark-blue-white-hover span {
    color: var(--Dark-blue)
}

html a.custom-button.light-blue::before,body a.custom-button.light-blue::before {
    background: var(--Light-blue)
}

html a.custom-button.light-blue::after,body a.custom-button.light-blue::after {
    background: var(--Light-blue)
}

html a.custom-button.light-blue span,body a.custom-button.light-blue span {
    color: var(--Light-blue)
}

html a.custom-button.black::before,body a.custom-button.black::before {
    background: var(--Black)
}

html a.custom-button.black::after,body a.custom-button.black::after {
    background: var(--Black)
}

html a.custom-button.black span,body a.custom-button.black span {
    color: var(--Black)
}

html a.custom-button.dimmed-white::before,body a.custom-button.dimmed-white::before {
    background: var(--Dimmed-White)
}

html a.custom-button.dimmed-white::after,body a.custom-button.dimmed-white::after {
    background: var(--Dimmed-White)
}

html a.custom-button.dimmed-white span,body a.custom-button.dimmed-white span {
    color: var(--Dimmed-White)
}
  
html section,body section {
    width: 100%;
    height: 100vh;
    position: relative
}

html .fade-in,body .fade-in {
    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: .5s
}

html .fade-in.delay-250,body .fade-in.delay-250 {
    transition-delay: .25s
}

html .fade-in.delay-500,body .fade-in.delay-500 {
    transition-delay: .5s
}

html .fade-in.delay-750,body .fade-in.delay-750 {
    transition-delay: .75s
}

html .fade-in.delay-1000,body .fade-in.delay-1000 {
    transition-delay: 1s
}

@font-face {
    font-family: "Bradley Wayside Pro";
    src: url("/wp-content/themes/ach/fonts/BradleyWaysidePro/font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Adobe Caslon Pro";
    src: url("/wp-content/themes/ach/fonts/AdobeCaslonProRegular/font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "EngravrsRoman BT";
    src: url("/wp-content/themes/ach/fonts/EngraversRomanBTStdRegular/font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation-duration: .001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .001ms !important
    }

    *::before {
        animation-duration: .001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .001ms !important
    }

    *::after {
        animation-duration: .001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .001ms !important
    }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

html .cky-overlay button::before,html .cky-overlay button::after,html .cky-btn-revisit-wrapper button::before,html .cky-btn-revisit-wrapper button::after,html .cky-modal button::before,html .cky-modal button::after,html .cky-content-container button::before,html .cky-content-container button::after,body .cky-overlay button::before,body .cky-overlay button::after,body .cky-btn-revisit-wrapper button::before,body .cky-btn-revisit-wrapper button::after,body .cky-modal button::before,body .cky-modal button::after,body .cky-content-container button::before,body .cky-content-container button::after {
    display: none !important
}

html .cky-overlay .cky-switch input,html .cky-btn-revisit-wrapper .cky-switch input,html .cky-modal .cky-switch input,html .cky-content-container .cky-switch input,body .cky-overlay .cky-switch input,body .cky-btn-revisit-wrapper .cky-switch input,body .cky-modal .cky-switch input,body .cky-content-container .cky-switch input {
    background-color: #333 !important;
    background: #333 !important
}

html .cky-overlay .cky-switch input[type=checkbox]:checked,html .cky-btn-revisit-wrapper .cky-switch input[type=checkbox]:checked,html .cky-modal .cky-switch input[type=checkbox]:checked,html .cky-content-container .cky-switch input[type=checkbox]:checked,body .cky-overlay .cky-switch input[type=checkbox]:checked,body .cky-btn-revisit-wrapper .cky-switch input[type=checkbox]:checked,body .cky-modal .cky-switch input[type=checkbox]:checked,body .cky-content-container .cky-switch input[type=checkbox]:checked {
    background-color: #1863dc !important;
    background: #1863dc !important
}

html .cky-overlay .cky-show-desc-btn,html .cky-btn-revisit-wrapper .cky-show-desc-btn,html .cky-modal .cky-show-desc-btn,html .cky-content-container .cky-show-desc-btn,body .cky-overlay .cky-show-desc-btn,body .cky-btn-revisit-wrapper .cky-show-desc-btn,body .cky-modal .cky-show-desc-btn,body .cky-content-container .cky-show-desc-btn {
    background: #333 !important;
    padding: 12px;
    color: #fff !important
}

html .cky-overlay .cky-accordion-header .cky-always-active,html .cky-btn-revisit-wrapper .cky-accordion-header .cky-always-active,html .cky-modal .cky-accordion-header .cky-always-active,html .cky-content-container .cky-accordion-header .cky-always-active,body .cky-overlay .cky-accordion-header .cky-always-active,body .cky-btn-revisit-wrapper .cky-accordion-header .cky-always-active,body .cky-modal .cky-accordion-header .cky-always-active,body .cky-content-container .cky-accordion-header .cky-always-active {
    background: #333 !important;
    padding: 12px;
    color: #32cd32 !important
}

html .cky-overlay .cky-audit-table,html .cky-btn-revisit-wrapper .cky-audit-table,html .cky-modal .cky-audit-table,html .cky-content-container .cky-audit-table,body .cky-overlay .cky-audit-table,body .cky-btn-revisit-wrapper .cky-audit-table,body .cky-modal .cky-audit-table,body .cky-content-container .cky-audit-table {
    color: #fff !important
}

html .cky-overlay .cky-audit-table .cky-cookie-des-table,html .cky-overlay .cky-audit-table .cky-empty-cookies-text,html .cky-btn-revisit-wrapper .cky-audit-table .cky-cookie-des-table,html .cky-btn-revisit-wrapper .cky-audit-table .cky-empty-cookies-text,html .cky-modal .cky-audit-table .cky-cookie-des-table,html .cky-modal .cky-audit-table .cky-empty-cookies-text,html .cky-content-container .cky-audit-table .cky-cookie-des-table,html .cky-content-container .cky-audit-table .cky-empty-cookies-text,body .cky-overlay .cky-audit-table .cky-cookie-des-table,body .cky-overlay .cky-audit-table .cky-empty-cookies-text,body .cky-btn-revisit-wrapper .cky-audit-table .cky-cookie-des-table,body .cky-btn-revisit-wrapper .cky-audit-table .cky-empty-cookies-text,body .cky-modal .cky-audit-table .cky-cookie-des-table,body .cky-modal .cky-audit-table .cky-empty-cookies-text,body .cky-content-container .cky-audit-table .cky-cookie-des-table,body .cky-content-container .cky-audit-table .cky-empty-cookies-text {
    color: #fff !important
}

html .cky-overlay .cky-btn-close img,html .cky-btn-revisit-wrapper .cky-btn-close img,html .cky-modal .cky-btn-close img,html .cky-content-container .cky-btn-close img,body .cky-overlay .cky-btn-close img,body .cky-btn-revisit-wrapper .cky-btn-close img,body .cky-modal .cky-btn-close img,body .cky-content-container .cky-btn-close img {
    filter: brightness(2) !important
}

html .cky-btn-revisit-wrapper.cky-revisit-bottom-left,body .cky-btn-revisit-wrapper.cky-revisit-bottom-left {
    bottom: 70px !important
}

@media(min-width: 1024px) {
    html .cky-btn-revisit-wrapper.cky-revisit-bottom-left,body .cky-btn-revisit-wrapper.cky-revisit-bottom-left {
        bottom:15px !important
    }
}

html .cky-btn,html .cky-btn-customize,body .cky-btn,body .cky-btn-customize {
    color: #fff !important
}

html .cky-btn::before,html .cky-btn::after,html .cky-btn-customize::before,html .cky-btn-customize::after,body .cky-btn::before,body .cky-btn::after,body .cky-btn-customize::before,body .cky-btn-customize::after {
    display: none !important
}

html .cky-consent-container.cky-box-bottom-left,body .cky-consent-container.cky-box-bottom-left {
    bottom: 70px !important
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background: #000
}

header div.background-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -2
}

header div.background-image div.image-element {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100lvh;
    background-size: cover;
    background-position: center center
}

header div.background-image div.video-container {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: transparent
}

header div.background-image div.video-container video {
    width: auto;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s cubic-bezier(0, 0, 0, 1)
}

@media(min-width: 300px) {
    header div.background-image div.video-container video.loaded {
        opacity:1
    }
}

header div.background-fade {
    display: block;
    width: 100%;
    height: 200%;
    background: #000;
    position: absolute;
    left: 0px;
    top: -100%;
    z-index: -1;
    opacity: .4
}
 
 

header h1,header p {
    width: 90%;
    color: var(--Off-White, #FAF7E5);
    font-family: "EngravrsRoman BT";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 5.4px;
    text-align: center
}

@media(min-width: 768px)and (orientation: portrait) {
    header h1,header p {
        font-size:24px;
        line-height: 64px;
        letter-spacing: 8.2px
    }
}

@media(min-width: 1024px)and (orientation: portrait),(min-width: 1400px) {
    header h1,header p {
        width:70%;
        font-size: 36px;
        line-height: 96px;
        letter-spacing: 10.8px
    }
}

header h1 b,header h1 strong,header p b,header p strong {
    font-size: 32px;
    letter-spacing: 9.6px;
    font-weight: 400
}

@media(min-width: 768px)and (orientation: portrait) {
    header h1 b,header h1 strong,header p b,header p strong {
        font-size:48px;
        letter-spacing: 14.2px
    }
}

@media(min-width: 1024px)and (orientation: portrait),(min-width: 1400px) {
    header h1 b,header h1 strong,header p b,header p strong {
        font-size:64px;
        letter-spacing: 19.2px
    }
}

header img {
    width: calc(100% - 52px - 52px);
    max-width: 658px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

 

    
div.menu {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--Dark-blue);
    position: fixed;
    left: 0px;
    top: 0;
    z-index: 998;
    opacity: 0;
    pointer-events: none
}

div.menu div.background-image {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    opacity: .3
}
 
 
     

body div.monogram {
    display: none;
    width: 78px;
    height: 90px;
    background: url("/wp-content/themes/ach/images/monogram.svg");
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translateX(-50%);
    margin-top: -45px;
    margin-left: -3px;
    z-index: 2
}

@media(min-width: 1024px)and (orientation: landscape) {
    body div.monogram {
        display:block
    }
}

@media(min-width: 1400px) {
    body div.monogram {
        width:113px;
        height: 130px;
        margin-top: -65px
    }
}

body div.monogram.fixed {
    position: fixed
}

body section.home.split-scroll-sticky div.slide.lhs p {
    width: calc(100% - 42px - 42px);
    color: var(--Dark-blue);
    text-align: center;
    font-family: "EngravrsRoman BT";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 9.6px
}

@media(min-width: 1400px) {
    body section.home.split-scroll-sticky div.slide.lhs p {
        width:70%
    }
}

body section.home.split-scroll-sticky div.slide.lhs p b,body section.home.split-scroll-sticky div.slide.lhs p strong {
    font-size: 32px;
    font-style: normal;
    font-weight: 400
}

body section.home.split-scroll-sticky div.slide.lhs.slide-1 div.height-wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),url("/wp-content/themes/ach/images/homepage_slide_lhs_slide1.jfif") #000 50%/cover no-repeat
}

body section.home.split-scroll-sticky div.slide.lhs.slide-1 div.height-wrapper p {
    color: var(--Off-White)
}

body section.home.split-scroll-sticky div.slide.lhs.slide-1 a:focus div.height-wrapper {
    outline: 5px solid #fff;
    outline-offset: -5px
}

body section.home.split-scroll-sticky div.slide.lhs.slide-1.huge-text p {
    width: 90%;
    color: var(--Off-White, #FAF7E5);
    font-family: "Bradley Wayside Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center
}

body section.home.split-scroll-sticky div.slide.lhs.slide-1.huge-text p b,body section.home.split-scroll-sticky div.slide.lhs.slide-1.huge-text p strong {
    font-size: 36px;
    font-weight: 400
}

@media(min-width: 768px) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-1.huge-text p {
        font-size:24px;
        letter-spacing: 4px
    }

    body section.home.split-scroll-sticky div.slide.lhs.slide-1.huge-text p b,body section.home.split-scroll-sticky div.slide.lhs.slide-1.huge-text p strong {
        font-size: 48px
    }
}

body section.home.split-scroll-sticky div.slide.lhs.slide-2 div.height-wrapper {
    background: url("/wp-content/themes/ach/images/homepage_slide_lhs_slide2.jfif") #000 50%/cover no-repeat
}

body section.home.split-scroll-sticky div.slide.lhs.slide-2 div.height-wrapper div.image-container {
    display: block;
    width: calc(100% - 56px - 56px);
    height: auto;
    position: relative
}

@media(min-width: 768px)and (orientation: portrait) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-2 div.height-wrapper div.image-container {
        max-width:75%
    }
}

@media(min-width: 1024px)and (orientation: landscape) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-2 div.height-wrapper div.image-container {
        max-width:45%
    }
}

body section.home.split-scroll-sticky div.slide.lhs.slide-2 div.height-wrapper div.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

body section.home.split-scroll-sticky div.slide.lhs.slide-2 div.height-wrapper div.image-container img.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    object-fit: fill
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper,body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper {
    position: relative
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper img.background,body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper img.background {
    position: absolute
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper div.image-container,body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper div.image-container {
    position: absolute
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper div.image-container img,body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper div.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper div.image-container img.overlay,body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper div.image-container img.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    object-fit: fill
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper {
    background: url("/wp-content/themes/ach/images/homepage_slide_lhs_slide3.jfif");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

@media(min-width: 1024px)and (orientation: landscape) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper {
        background:url("/wp-content/themes/ach/images/homepage_slide_lhs_slide3.jfif");
        background-size: cover;
        background-position: 45% 80%;
        background-repeat: no-repeat
    }
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper img.background {
    width: auto;
    height: 47%;
    left: 61.4%;
    top: 50.5%;
    transform: translate(-50%, -50%) rotate(0deg)
}

@media(min-width: 1024px)and (orientation: landscape) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper img.background {
        width:auto;
        height: 65%;
        left: 60.4%;
        top: 54.3%;
        transform: translate(-50%, -50%) rotate(0deg)
    }
}

body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper div.image-container {
    width: 69%;
    height: 46%;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-4.579deg)
}

@media(min-width: 768px)and (orientation: portrait) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper div.image-container {
        max-width:45%
    }
}

@media(min-width: 1024px)and (orientation: landscape) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-3 div.height-wrapper div.image-container {
        width:auto;
        max-width: 45%;
        height: 64%;
        left: 50%;
        top: 53%
    }
}

body section.home.split-scroll-sticky div.slide.lhs.slide-4 {
    background: var(--Dark-blue)
}

body section.home.split-scroll-sticky div.slide.lhs.slide-4 div.height-wrapper {
    background: url("/wp-content/themes/ach/images/homepage_slide_lhs_slide4.jfif");
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply
}

body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper {
    background: url("/wp-content/themes/ach/images/homepage_slide_lhs_slide5.jfif");
    background-size: cover;
    background-position: center
}

@media(min-width: 1024px)and (orientation: landscape) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper {
        background:url("/wp-content/themes/ach/images/homepage_slide_lhs_slide5.jfif");
        background-size: 160%;
        background-position: center
    }
}

body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper img.background {
    width: 62%;
    height: 40.4%;
    left: 59.4%;
    top: 53.5%;
    transform: translate(-50%, -50%) rotate(0deg)
}

@media(min-width: 768px)and (orientation: portrait) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper img.background {
        width:55%;
        left: 52%;
        top: 54.9%;
        height: 51%
    }
}

@media(min-width: 1024px)and (orientation: landscape) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper img.background {
        width:auto;
        height: 64%;
        left: 55.4%;
        top: 60.5%
    }
}

body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper div.image-container {
    width: 63%;
    height: 37.4%;
    top: 46%;
    left: 39%;
    transform: translate(-50%, -50%) rotate(2.171deg);
    border: 7.775px var(--Off-White) solid
}

@media(min-width: 768px)and (orientation: portrait) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper div.image-container {
        width:57%;
        height: 52%
    }
}

@media(min-width: 1024px)and (orientation: landscape) {
    body section.home.split-scroll-sticky div.slide.lhs.slide-5 div.height-wrapper div.image-container {
        width:auto;
        max-width: 49%;
        height: 68%;
        top: 48%;
        left: 45%
    }
}

body section.home.split-scroll-sticky div.slide.rhs h1,body section.home.split-scroll-sticky div.slide.rhs h2,body section.home.split-scroll-sticky div.slide.rhs p {
    width: 70%;
    color: var(--Dark-blue);
    text-align: center;
    font-family: "EngravrsRoman BT";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 9.6px
}

body section.home.split-scroll-sticky div.slide.rhs h1 b,body section.home.split-scroll-sticky div.slide.rhs h1 strong,body section.home.split-scroll-sticky div.slide.rhs h2 b,body section.home.split-scroll-sticky div.slide.rhs h2 strong,body section.home.split-scroll-sticky div.slide.rhs p b,body section.home.split-scroll-sticky div.slide.rhs p strong {
    font-size: 32px;
    font-style: normal;
    font-weight: 400
}

body section.home.split-scroll-sticky div.slide.rhs h1 {
    font-size: 32px
}

body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper {
    justify-content: center
}

body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner {
    display: flex;
    width: calc(100% - 36px - 36px);
    height: auto;
    flex-direction: column;
    justify-items: center;
    align-items: center
}

@media(min-width: 800px)and (orientation: portrait) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner {
        width:70%
    }
}

@media(min-width: 1400px) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner {
        width:60%
    }
}

body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner h1.header,body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner h2.header,body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p.header {
    width: 100%;
    margin-bottom: 72px
}

@media(min-width: 1400px)and (min-height: 850px) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner h1.header,body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner h2.header,body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p.header {
        width:80%;
        margin-bottom: 48px
    }
}

body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner img.header {
    width: 66.6%;
    margin-bottom: 64px
}

@media(min-width: 1400px)and (min-height: 850px) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner img.header {
        margin-bottom:72px
    }
}

body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header) {
    width: 100%;
    color: var(--Dark-blue, #160937);
    text-align: center;
    font-family: "Adobe Caslon Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: unset;
    margin-bottom: 28px
}

@media(min-width: 768px)and (orientation: portrait) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header) {
        font-size:23px
    }
}

@media(min-width: 1400px)and (min-height: 850px) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header) {
        font-size:23px
    }
}

body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header) b,body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header) strong {
    font-size: 18px
}

@media(min-width: 1400px)and (min-height: 850px) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header) b,body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header) strong {
        font-size:23px
    }
}

body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header):last-of-type {
    margin-bottom: 48px
}

@media(min-width: 1400px)and (min-height: 850px) {
    body section.home.split-scroll-sticky div.slide.rhs div.height-wrapper div.inner p:not(.header):last-of-type {
        margin-bottom:32px
    }
}

body section.home.split-scroll-sticky div.slide.rhs.slide-1 a:focus div.height-wrapper {
    outline: 5px solid #fff;
    outline-offset: -5px
}

body section.home.split-scroll-sticky div.slide.rhs.slide-1 div.height-wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),url("/wp-content/themes/ach/images/homepage_slide_rhs_slide1.jfif") #000 50%/cover no-repeat
}

body section.home.split-scroll-sticky div.slide.rhs.slide-1 div.height-wrapper p {
    color: var(--Off-White, #FAF7E5)
}

body section.home.split-scroll-sticky div.slide.rhs.slide-1.huge-text p {
    width: 90%;
    color: var(--Off-White, #FAF7E5);
    font-family: "Bradley Wayside Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center
}

body section.home.split-scroll-sticky div.slide.rhs.slide-1.huge-text p b,body section.home.split-scroll-sticky div.slide.rhs.slide-1.huge-text p strong {
    font-size: 36px;
    font-weight: 400
}

@media(min-width: 768px) {
    body section.home.split-scroll-sticky div.slide.rhs.slide-1.huge-text p {
        font-size:24px;
        letter-spacing: 4px
    }

    body section.home.split-scroll-sticky div.slide.rhs.slide-1.huge-text p b,body section.home.split-scroll-sticky div.slide.rhs.slide-1.huge-text p strong {
        font-size: 48px
    }
}

body section.home.split-scroll-sticky div.slide.rhs.slide-2 div.height-wrapper,body section.home.split-scroll-sticky div.slide.rhs.slide-4 div.height-wrapper {
    background: url("/wp-content/themes/ach/images/ornate_repeating_closer.svg"),url("/wp-content/themes/ach/images/popup_noise.jpg"),#faf7e5;
    background-size: cover,auto;
    background-repeat: no-repeat,repeat;
    background-blend-mode: multiply,normal
}

 

@media(min-width: 1400px)and (min-height: 850px) {
    body section.home.split-scroll-sticky div.slide.rhs.slide-2 div.icons {
        margin-top:32px
    }
}

body section.home.split-scroll-sticky div.slide.rhs.slide-3 div.buttons,body section.home.split-scroll-sticky div.slide.rhs.slide-4 div.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
    flex-direction: column
}

body section.home.split-scroll-sticky div.slide.rhs.slide-3 div.buttons a,body section.home.split-scroll-sticky div.slide.rhs.slide-4 div.buttons a {
    display: flex;
    justify-content: center
}

body section.home.split-scroll-sticky div.slide.rhs.slide-3 div.buttons a span div.tag,body section.home.split-scroll-sticky div.slide.rhs.slide-4 div.buttons a span div.tag {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    white-space: nowrap
}

body section.home.split-scroll-sticky div.slide.rhs.slide-3 div.buttons a span div.tag span,body section.home.split-scroll-sticky div.slide.rhs.slide-4 div.buttons a span div.tag span {
    font-size: .5em;
    letter-spacing: 2px;
    margin: 0;
    padding: 0
}

body section.home.split-scroll-sticky div.slide.rhs.slide-3 div.buttons a.flex-break,body section.home.split-scroll-sticky div.slide.rhs.slide-4 div.buttons a.flex-break {
    flex-basis: 100%
}

body section.home.split-scroll-sticky div.slide.rhs.slide-3 div.height-wrapper {
    background-image: url("/wp-content/themes/ach/images/noise.png");
    background-color: var(--Light-Blue, #8DAAD6);
    background-size: 15%;
    background-blend-mode: multiply,normal
}

body section.home.split-scroll-sticky div.slide.rhs.slide-5 {
    background: url("/wp-content/themes/ach/images/AmbassyAugust2025Background.jpg");
    background-size: cover;
    background-position: center
}

body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner h2,body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner p.header,body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner p:not(.header) {
    color: var(--Off-White)
}

body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner h2 {
    width: 70%;
    color: var(--Off-White);
    text-align: center;
    font-family: "EngravrsRoman BT";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 9.6px
}

body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner h2 b,body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner h2 strong {
    font-size: 32px;
    font-style: normal;
    font-weight: 400
}

@media(min-width: 1024px) {
    body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner h2 b,body section.home.split-scroll-sticky div.slide.rhs.slide-5 div.height-wrapper div.inner h2 strong {
        font-size:64px
    }
}

body section.home.split-scroll-sticky div.slide.rhs.slide-5.final-slide div.height-wrapper {
    background: url("/wp-content/themes/ach/images/AmbassyAugust2025Background.jpg");
    background-size: cover;
    background-position: center
}

body.location-global section.split-scroll-sticky div.slide.rhs.slide-1 p,body.location-global section.split-scroll-sticky div.slide.lhs.slide-1 p {
    width: 100%
}

body.location-global section.split-scroll-sticky div.slide.rhs.slide-1 p b,body.location-global section.split-scroll-sticky div.slide.rhs.slide-1 p strong,body.location-global section.split-scroll-sticky div.slide.lhs.slide-1 p b,body.location-global section.split-scroll-sticky div.slide.lhs.slide-1 p strong {
    font-size: 48px
}

@media(min-width: 1400px) {
    body.location-global section.split-scroll-sticky div.slide.rhs.slide-1 p b,body.location-global section.split-scroll-sticky div.slide.rhs.slide-1 p strong,body.location-global section.split-scroll-sticky div.slide.lhs.slide-1 p b,body.location-global section.split-scroll-sticky div.slide.lhs.slide-1 p strong {
        font-size:64px
    }
}

 
 
section.split-scroll-sticky {
    height: 700vh;
    z-index: 0;
    position: relative
}

section.split-scroll-sticky div.scroll-down-arrow {
    display: block;
    width: 32px;
    height: 17px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDMyIDE3IiBmaWxsPSJub25lIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE1Ljk5OTggMTYuNTkzNUwzMiAwLjU5MzI2OEwzMS40MDY3IC0yLjU5MzI2ZS0wOEwzMS44OTk1IDAuNjE2ODA0TDE1Ljk4MzEgNy4wODgyNEwwLjA1MTA0MjUgMC41NDE4MTlMLTAuMDAwNDA0Mzg0IDAuNTkzMjY2TDE1Ljk5OTggMTYuNTkzNVoiIGZpbGw9IiNGQUY3RTUiLz4KPC9zdmc+");
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    cursor: pointer;
    pointer-events: all
}

@media(min-width: 1024px)and (orientation: landscape) {
    section.split-scroll-sticky div.scroll-down-arrow {
        top:-36px
    }
}

section.split-scroll-sticky div.mobile {
    display: block
}

@media(min-width: 1024px)and (orientation: landscape) {
    section.split-scroll-sticky div.mobile {
        display:none
    }
}

section.split-scroll-sticky div.desktop {
    display: none
}

@media(min-width: 1024px)and (orientation: landscape) {
    section.split-scroll-sticky div.desktop {
        display:block
    }
}

section.split-scroll-sticky div.row {
    display: flex;
    width: 100%;
    height: 100%
}

section.split-scroll-sticky div.row div.col {
    width: 100%
}

@media(min-width: 1024px)and (orientation: landscape) {
    section.split-scroll-sticky div.row div.col {
        width:50%
    }
}

section.split-scroll-sticky div.row div.col div.slide {
    height: 100vh;
    background-color: var(--Dark-blue);
    overflow-x: hidden;
    position: sticky;
    top: 0px
}

section.split-scroll-sticky div.row div.col div.slide.sticks {
    height: 100vh
}

@media(min-width: 1024px)and (orientation: landscape) {
    section.split-scroll-sticky div.row div.col div.slide.sticks {
        height:200vh
    }
}

section.split-scroll-sticky div.row div.col div.slide.scrolls-up {
    position: relative
}

section.split-scroll-sticky div.row div.col div.slide div.height-wrapper {
    display: flex;
    height: 100vh;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center
}

section.split-scroll-sticky div.row div.col div.slide.final-slide {
    height: 100vh;
    overflow-y: visible
}

section.split-scroll-sticky div.row div.col div.slide.final-slide div.inner {
    position: sticky;
    top: 0px;
    overflow-y: visible
}

section.split-scroll-sticky div.row div.col div.slide.final-slide div.inner div.height-wrapper {
    display: block;
    position: relative;
    height: 100vh;
    top: 0px
}
 
 
 
 
 
  
      

section.newsletter-block {
    display: block;
    width: 100%;
    height: auto;
    background-image: url("/wp-content/themes/ach/images/noise.png");
    background-color: var(--Light-Blue, #8DAAD6);
    background-size: 10%;
    background-blend-mode: multiply,normal;
    padding-top: 72px;
    padding-bottom: 72px
}

section.newsletter-block div.content {
    display: flex;
    width: calc(100% - 40px);
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 64px;
    margin-left: auto;
    margin-right: auto
}

@media(min-width: 1400px) {
    section.newsletter-block div.content {
        flex-direction:row
    }
}

section.newsletter-block div.content div.block {
    display: flex;
    width: auto;
    position: relative;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto
}

@media(min-width: 1400px) {
    section.newsletter-block div.content div.block {
        width:750px;
        margin-left: 0;
        margin-right: 0
    }
}

section.newsletter-block div.content div.block div.ellipse {
    width: 40px;
    height: 40px;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA0NSA0NSI+CiAgPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDMwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDIuMS4xIEJ1aWxkIDEyMykgIC0tPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuc3QwIHsKICAgICAgICBmaWxsOiBub25lOwogICAgICAgIHN0cm9rZTogI2ZhZjdlNTsKICAgICAgICBzdHJva2UtbWl0ZXJsaW1pdDogMTA7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00NCwyMS41YzAsMTIuNDMtMTAuMDcsMjIuNS0yMi41LDIyLjUiLz4KPC9zdmc+");
    background-color: var(--Dark-blue);
    background-position: center center;
    background-size: 102%
}

section.newsletter-block div.content div.block div.ellipse.top-left {
    position: absolute;
    left: 0;
    top: 0
}

section.newsletter-block div.content div.block div.ellipse.top-right {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg)
}

section.newsletter-block div.content div.block div.ellipse.bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(270deg)
}

section.newsletter-block div.content div.block div.ellipse.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg)
}

section.newsletter-block div.content div.block div.wrapper {
    display: flex;
    width: 100%;
    max-width: 720px;
    background: var(--Dark-Blue, #160937);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    outline: 1px solid var(--Off-White);
    outline-offset: -20px;
    padding-top: 64px;
    padding-bottom: 64px
}

section.newsletter-block div.content div.block div.wrapper img {
    margin-bottom: -12px
}

section.newsletter-block div.content div.block div.wrapper h2 {
    font-family: EngravrsRoman BT;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 5.76px;
    text-align: center;
    color: var(--Off-White)
}

@media(min-width: 768px) {
    section.newsletter-block div.content div.block div.wrapper h2 {
        font-size:32px
    }
}

section.newsletter-block div.content div.block div.wrapper h2 span.top {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    position: relative
}

@media(min-width: 768px) {
    section.newsletter-block div.content div.block div.wrapper h2 span.top {
        font-size:18px
    }
}

section.newsletter-block div.content div.block div.wrapper h2 span.top::before,section.newsletter-block div.content div.block div.wrapper h2 span.top::after {
    display: block;
    content: " ";
    position: absolute;
    top: 50%;
    width: 45px;
    height: 1px;
    background: var(--Off-White)
}

section.newsletter-block div.content div.block div.wrapper h2 span.top::before {
    left: calc(-45px + -24px)
}

section.newsletter-block div.content div.block div.wrapper h2 span.top::after {
    right: calc(-45px + -24px)
}

@media(min-width: 1024px) {
    section.newsletter-block div.content div.block div.wrapper h2 span.top::before,section.newsletter-block div.content div.block div.wrapper h2 span.top::after {
        width:90px
    }

    section.newsletter-block div.content div.block div.wrapper h2 span.top::before {
        left: calc(-90px + -24px)
    }

    section.newsletter-block div.content div.block div.wrapper h2 span.top::after {
        right: calc(-90px + -24px)
    }
}

section.newsletter-block div.content div.block div.wrapper h2 span.bottom {
    display: block
}

section.newsletter-block div.content div.block div.wrapper p {
    width: 80%;
    font-family: "Adobe Caslon Pro";
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.26px;
    text-align: center;
    color: var(--Off-White)
}
  
  
